body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Notes{
  .card{
    margin: 10px 20px;
    width: 20%;
    float: left;
    position: relative;
    min-height: 160px;
    background-color: skyblue;
    color: white;
    transition: all 0.5s;
    @media (max-width:991px) {
      width: 90%;
    }
    // &.hover:hover{
    //   transform: scale(1.2);
    //   z-index: 1;
    //   box-shadow: 0px 0px 10px 1px rgba($color: #000000, $alpha: 0.4);
    //   font-weight: 700;
    // }
    .card-title{
      font-weight: bold;
      font-size: 18px;
    }
    .card-body{
      font-weight: regular;
      font-size: 14px;
      padding: 10px;
    }
    .card-footer{
      background: transparent;
      border: 0px;
      font-size: 10px;
      .btn{
        position: absolute;
        top: -15px;
        right: -15px;
        svg{
          width:20px;
          height: 20px;
          fill: white;
        }
      }
    }
  }
}
.spinner-border{
  z-index: 9;
}
.avtar{
  width: 50px;
  height: 50px;
  background-color: orange !important;
  border: 0px !important;
  font-size: 30px !important;
  display: flex !important;
  align-items: center;
  padding: 0px !important;
  justify-content: center;
  &::after{
    display: none !important;
  }

}
.dropdown-menu{
  top: 80px !important;
  border: 0px !important;
  &::after{
    content:"";
    position: absolute;
    top: -6px;
    left: 15px;
    border-width: 7px;
    border-color: white whitesmoke transparent transparent;
    border-style: solid;
    transform: rotate(-45deg);
  }
}

.pointer{
  cursor: pointer;
}